/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
  }
  h2, h3 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
  }
  body {
    margin: 0em;
    background-color:seashell;
    
  }
  input,a, button {
    color: orange;
    font-size: 200%;
    font-family: Cambria, Georgia;
  }
  a{
      color: black;
      margin: 0.5%;
      padding: 5px;
      background: orange;
      border: solid;
      text-decoration:none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #369;
}
#nav{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
}
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }