<!--The content below is only a placeholder and can be replaced.-->

  <ul>
    <li><h1 id="nav">Textnomics</h1></li>
  </ul>

<div style="text-align:center;padding:10px; border: solid black; border-radius: 5px;background-color: antiquewhite; width:40%;margin-top: 5%; margin-left: 30%;align-self: center;">
  <h2>
    {{ title }}
  </h2>
  <input type="text" value={{emailTo}}><br><br><br>
  <a href='mailto:{{emailTo}}?reply-to={{replyEmail}}&cc={{ccEmail}}&subject={{subject}}&body={{body}}'>Email candidate</a><br><br>
  <!-- <button ng-click="showEmailDiv()">In web email</button> -->
    
    <!-- <a href='mailto:{{emailTo}}?reply-to={{replyEmail}}&cc={{ccEmail}}&subject={{subject}}&body={{body}}'>Email Offer</a><br><br>
    <a href='mailto:{{emailTo}}?reply-to={{replyEmail}}&cc={{ccEmail}}&subject={{subject}}&body={{body}}'>Email Reject</a> -->
</div>
  <!-- <div ng-show="showEmailDiv">
    To:<input type="email" value={{emailTo}}>
    cc:<input type="email" value={{ccEmail}}>
    subject:<input type="text" value={{subject}}>
    body:<textarea value={{body}}></textarea>
    <button>Send Email</button>
  </div> -->
 
